/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* max-width: 100%; */
  height: 100vh;
  color: var(--color-pink-2, #f1b2ce);
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  line-height: 23.4px;
  background-color: var(--color-pink-1, #fff1f7);
  background-image: var(
    --page-background-image,
    url "../images/cover-image.png"
  );
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
}

.cover {
  display: grid;
  height: 100%;
  min-block-size: 100vh;
  grid-template-rows: 1fr min-content 1fr;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.rec-decor {
  display: inline-flex;
  align-items: center;
  position: absolute;
  z-index: -1;
  visibility: var(--rec-decor-visibility, visible);
  top: 21px;
  right: 30px;
  gap: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color, #ff0070);
  line-height: 24px;
  display: inline-block;
  font-size: 18px;
}

.rec-decor::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px var(--accent-color, #ff0070);
  background: var(--accent-color, #ff0070);
  inline-size: 9px;
  block-size: 9px;
}

.shadow-decor {
  text-shadow: 4px 4px 0 #ff0070;
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
  justify-self: start;
  color: var(--brand-color);
}

.page-title {
  text-shadow: 4px 4px 0 #ff0070;
  font-weight: 700;
  font-size: 157px;
  font-style: normal;
  line-height: 82.5%;
  justify-self: start;
  color: var(--brand-color);
}

.header {
  display: grid;
  align-items: center;
  justify-self: end;
  padding: 20px 20px 20px 0;
}

.header__theme-menu {
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  align-self: start;
  margin-left: 22px;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 12px;
  color: var(--secondary-color);
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 12px 3px;
  background: transparent;
  line-height: 18px;
  font-size: 18px;
  font-weight: 400;
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end-color: currentColor;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border: 1px solid var(--secondary-color, #ff0070);
  border-width: 1px 1px 0 0;
  top: 20px;
  right: 20px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  height: 25px;
  width: 25px;
  border-width: 0 0 1px 1px;
  left: 20px;
  bottom: 0;
  border-inline-start: 1px solid var(--secondary-color, #ff0070);
  border-block-end: 1px solid var(--secondary-color, #ff0070);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.title__list {
  font-weight: 400;
}

.header__theme-menu-button_active {
  border-color: currentColor;
  cursor: default;
  pointer-events: none;
}

.header__theme-menu-button:not(:disabled):hover {
  border: 1px solid var(--hover-color);
}

.header__title {
  max-width: 491px;
  background-color: var(--accent-color);
  color: var(--highlight-color);
  font-size: 18px;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  justify-self: end;
}

.title {
  color: var(--secondary-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: inherit;
  line-height: inherit;
  line-height: 23.4px;
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
  font-size: 18px;
}

.main {
  display: grid;
  gap: 80px;
  padding: 60px 20px;
}

.section {
  display: grid;
  gap: 20px;
  grid-template-columns: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem) 1fr;
}

.section-what__articles-list {
  display: grid;
  grid-column: span 2;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.articles-list {
  display: grid;
  gap: 20px;
}

.article {
  flex-direction: column;
  color: var(--text-color);
  display: grid;
  gap: 10px;
}

.link:hover {
  border-bottom: 1px solid var(--link-color);
}

.link:focus {
  outline: 0;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--highlight-color);
  font-size: 18px;
  font-family: var(--page-font-family, "IBM Plex mono", monospace);
}

.section-how__articles-list {
  flex-direction: column;
}

.section-how__title {
  background-color: var(--accent-color);
  margin-bottom: 20px;
}

.section-gallery__title {
  grid-column: span 2;
}

.gallery-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas:
    "sunset sunset food"
    "cassette books food"
    "cassette road road";
  gap: 20px;
  grid-column: span 2;
}

.gallery-list__item-img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  block-size: 100%;
  inline-size: 100%;
}

.sunset {
  grid-area: sunset;
}

.food {
  grid-area: food;
}

.cassette {
  grid-area: cassette;
}

.books {
  grid-area: books;
}

.road {
  grid-area: road;
}

.footer {
  grid-template-rows: 100px;
  display: grid;
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  justify-content: center;
  align-content: center;
}

.footer-title {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px 0 #ff0070;
}

@media (width <= 768px) {
  .header__theme-menu {
    margin-top: 173px;
    justify-self: end;
  }

  .articles-list {
    gap: 20px;
  }  

  .articles {
    gap: 10px;
  }

  .header__title {
    max-width: 364px;
  }

  .rec-decor {
    right: 30px;
    top: 20px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }

  .page-title {
    font-size: 120px;
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .footer-title {
    grid-template-rows: 190px 2rem;
    text-shadow: 2px 2px 0 var(--accent-color);
  }
  
  .section-what {
    display: grid;
    flex-direction: column;
  }

  .section-what__articles-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 23.4px;
    font-size: 18px;
  }
}

@media (width <= 550px) {
  .page-title {
    margin-top: 20px;
    font-size: 116px;
    text-shadow: 4px 4px 0 var(--accent-color);
  }

  .header__title {
    margin-top: 28px;
    max-width: 364px;
  }

  .decorated-zone::before {
    border-width: 1px 1px 0 0;
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    border-width: 0 0 1px 1px;
    left: 10px;
    bottom: 30px;
  }

  .rec-decor {
    right: 19px;
    top: 10px;
  }

  .main {
    padding: 10px;
    gap: 20px;
  }

  .cover {
    padding: 10px;
    padding-bottom: 55px;
  }

  .header__theme-menu {
    margin-top: 65px;
  }

  .section-why {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .section-how {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }
  
  .title__what {
    padding-top: 30px;
  }

  .section-what {
    display: flex;
  }

  .footer-title {
    text-shadow: 2px 2px 0 var(--accent-color);
    margin-top: 45px;
  }

  .section-gallery {
    margin-top: 30px;
    gap: 10px;
  }

  .footer {
    margin-top: 20px;
  }

  .gallery-list__item-img {
    display: block;
    gap: 10px;
  }

  .gallery-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
